<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ImportacionPesosPedidos_OSBinding" />
                <binding name="ImportacionPesosPedidos_OSBinding1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pdddev100.gcp.pronaca.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MMS_DEV_EC&amp;receiverParty=&amp;receiverService=&amp;interface=ImportacionPesosPedidos_OS&amp;interfaceNamespace=http%3A%2F%2Fpronaca.com%2FINT011%2Fmms%2F1.0%2FImportacionPesosPedidos"
                binding="basicHttpBinding" bindingConfiguration="ImportacionPesosPedidos_OSBinding"
                contract="ServiceReference1.ImportacionPesosPedidos_OS" name="HTTP_Port" />
            <endpoint address="https://pdddev100.gcp.pronaca.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MMS_DEV_EC&amp;receiverParty=&amp;receiverService=&amp;interface=ImportacionPesosPedidos_OS&amp;interfaceNamespace=http%3A%2F%2Fpronaca.com%2FINT011%2Fmms%2F1.0%2FImportacionPesosPedidos"
                binding="basicHttpBinding" bindingConfiguration="ImportacionPesosPedidos_OSBinding1"
                contract="ServiceReference1.ImportacionPesosPedidos_OS" name="HTTPS_Port" />
        </client>
    </system.serviceModel>
</configuration>