<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <!--error log-->
    <add key="Log" value="C:\TRABAJO\ERORR_LOG\error_log.txt" />

    <!--tiempo de ejecucion del demonio (APLICACION) PRINCIPAL-->
    <add key="tiempo" value="90" />

    <!--Numero de Hilos de ejecucion-->
    <add key="hilosEjecucion" value="2"/>

    <!--tiempo de espera insertar en segundos TIMEOUT conector hacia LN-->
    <add key="tiempoInsertar" value="320" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <connectionStrings>
    <add name="XMLConnectionString" connectionString="Data Source=192.168.1.75\scmi_despacho;Initial Catalog = MMS_PLANTA_CD_DES; Persist Security info=True;User ID=despachoscd;Password=Pronaca2011" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ImportacionPesosPedidos_OSBinding" />
                <binding name="ImportacionPesosPedidos_OSBinding1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pdddev100.gcp.pronaca.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MMS_DEV_EC&amp;receiverParty=&amp;receiverService=&amp;interface=ImportacionPesosPedidos_OS&amp;interfaceNamespace=http%3A%2F%2Fpronaca.com%2FINT011%2Fmms%2F1.0%2FImportacionPesosPedidos"
                binding="basicHttpBinding" bindingConfiguration="ImportacionPesosPedidos_OSBinding"
                contract="ServiceReference1.ImportacionPesosPedidos_OS" name="HTTP_Port" />
            <endpoint address="https://pdddev100.gcp.pronaca.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MMS_DEV_EC&amp;receiverParty=&amp;receiverService=&amp;interface=ImportacionPesosPedidos_OS&amp;interfaceNamespace=http%3A%2F%2Fpronaca.com%2FINT011%2Fmms%2F1.0%2FImportacionPesosPedidos"
                binding="basicHttpBinding" bindingConfiguration="ImportacionPesosPedidos_OSBinding1"
                contract="ServiceReference1.ImportacionPesosPedidos_OS" name="HTTPS_Port" />
        </client>
    </system.serviceModel>
</configuration>